[Unit]
Description=Spoutin Home Network PKI Stack
Documentation=https://github.com/spoutin/spoutin-pki
Wants=wifi-enrollment.service
After=wifi-enrollment.service

[Install]
WantedBy=multi-user.target
